@font-face {
  font-family: lemon;
  src: url("../fonts/lemon.ttf") format("truetype");
}

body {
  font-family: lemon;
  font-size: calc(12px + 3vmin);
  line-height: calc(12px + 1vmin);
  height: 100%; 
  background-image: url("../images/stars.gif");
  background-repeat: repeat;
  background-size: cover;
}

a {
  color: #ffff02;
  text-decoration: none;
}

html,header {
  height: 100%;
}